:root {
    --primary-color: #8828FF ;
    --secondary-color: #6F48C9;
    --background-color: #ffffff;
    --text-color: #333;
}
/* 全局样式 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    padding-top: 165px; /* 桌面端导航栏高度 */
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
li {
    list-style: none;
 }
/* 通用标题样式 */
.section-title {
    color: #20184E;
    font-weight: 600;
    margin-bottom: 48px;
    position: relative;
    text-align: center;
}
/* 通用图标样式 */
.contact-icon {
    width: 32px;
    height: 32px;
}
/* 通用文本样式 */
.contact-text {
    color: #20184E;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* 公司介绍 */
.company-contact{
    /* 修改定位方式 */
    margin-top: -165px;
    /* 移除top属性 */
    padding: 310px 0 330px;
    background: url(../images/bg2.png) no-repeat top;
    background-size: auto;
    background-position: top;
}
/* 内容部分 */
.contact-section {
    position: relative;
    background: #fff;
    padding: 0 0 90px;
}
.contact-section::before {
    content: '';
    position: absolute;
    top: 50%;
    background: url(../images/bg-img2.png) no-repeat bottom;
    width: 136px;
    height: 531px;
    z-index: 0;
}
.contact-section::after {
    content: '';
    position: absolute;
    top: 0;
    background: url(../images/bg-img1.png) no-repeat top;
    width: 168px;
    height: 531px;
    z-index: 0;
    right: 0px;
    background-size: 80%;
}
.one-bg::after {
    content: none;
}
.bg-title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;
}
.img-part{
    width: 100%;
    aspect-ratio: 827 / 444;
    position: relative;
}
.img-part img{
    width: 100%;
    height: 100%;
}
.half-box{
    width: 50%;
}
.container-box-right {
    padding-left: 84px;
}
.section-title-text{
    margin-bottom: 16px;
    font-weight: 600;
}
.section-title-other{
    margin-bottom: 100px;
    margin-top: 80px;
    text-align: justify;
}
.btn-big{
    padding: 16px 64px;
    border-radius: 50px;
    margin-right: 46px;
}
.btn-big:last-child{
    margin-right: 0;
}

/* 第二部分 */
.contact-section.one-bg::after{
    content: none;
}
/* 满足统一管理集中检测控管需求 */
.case-part01{
    margin-top: 110px;
    margin-bottom: 30px;
}
.case-part01-title{
    color: #20184E;
    text-align: center;
    margin-top: 112px;
}
.case-part01-title h2{
    margin-bottom: 24px;
}
.list-two{
    margin-top: 88px;
    background: url(../images/card-bg.png) no-repeat center;
    background-size: 100% 100%;
    text-align: center;
}
.list-two .list-card img{
    width: 100%;
    height: 100%;
}
.list-two ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-flow: row;
    height: auto;
}
.list-two .list-card{
    border-radius: 20px;
    height: 100%;
    flex: 1 1 0%;
    min-height: 0;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 12px 4px rgb(136 40 255 / 6%);
    color: #20184e;
    text-align: center;
    line-height: 30px;
    padding: 32px 32px 0;
    position: relative;
}
.list-card p{
    margin: 24px 0 56px;
    min-height: 220px;
    text-align: justify;
}
/* 按钮样式 */
.callme{
    background: var(--primary-color);
    border-radius: 60px;
    padding: 10px 0;
    color: #fff;
    border: none;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 160px;
}

/*第三部分 */
/* 一站式的企业级监控解决方案 */
.other-bg{
    background: url(../images/other-bg.png) no-repeat center;
    background-size: 100% 100%;
    padding: 170px 0 150px;
    background-position: top;
    margin-top: -170px;
}
.other-bg::before,.other-bg::after{
    content: none;
}
.case-part02{
    padding: 60px 0 110px;
    text-align: center;
}
.template-list{
    margin-top: 88px;
}
.template-list ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 122px;
    flex-flow: row;
    height: auto;
}
.template-list ul li{
    height: 100%;
    flex: 1 1 0%;
    min-height: 0;
}
.template-title{
    color: #20184E;
    line-height: 32px;
    font-weight: 600;
}
.template-img{
    margin: 0px auto 48px;
    width: 90px;
    aspect-ratio: 1 / 1;
    height: 90px;
}
.template-img img{
    width: 100%;
    height: 100%;
}
.template-text{
    line-height: 32px;
    text-align: justify;
    color: var(--text-light);
    margin-bottom: 0;
    margin-top: 40px;
}
/* 第四部分 */
.case-part04{
    margin-bottom: 110px;
    margin-top: 110px;
}
.case-part04 ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 56px;
    flex-flow: row;
    height: auto;
}
.case-part04 ul li{
    border-radius: 20px;
    height: 100%;
    flex: 1 1 0%;
    min-height: 0;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 12px 4px rgb(136 40 255 / 6%);
    color: #20184e;
    text-align: center;
    line-height: 30px;
    padding: 32px 24px 0;
    position: relative;
    height: 370px;
}
.itemImg{
    width: 140px;
    aspect-ratio: 140 / 137;
    margin: 0 auto;
    position: absolute;
    top: -23%;
    left: 0;
    right: 0;
}
.itemImg img{
    width: 100%;
    height: 100%;
}
.case-part04 li h3{
    margin: 34px 0 60px;
}
.case-part04 li p{
    margin: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0;
}
/* 数据监控大屏可视化系统解决方案 */
.case-part05{
    margin-bottom: 110px;
    margin-top: 170px;
}
.flex-box{
    margin-top: 80px;
}
.flex-box ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 74px;
    flex-flow: row;
    height: auto;
    margin-bottom: 36px;
}
.flex-box ul li{
    width: 100%;
    height: 100%;
    flex: 1 1 0%;
    min-height: 0;
}
.imgsize{
    width: 100%;
    height: auto;
    aspect-ratio: 287 / 237;
}
.imgsize img{
    width: 100%;
    height: 100%;
}
.trait{
    background: url(../images/card-bg.png) no-repeat center;
    background-size: 100% 100%;
    text-align: center;
    color: #20184E;
}
.trait-list {
    background: url(../images/bg-img06.png) no-repeat center;
    background-size: auto;
}

.trait-list ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
    flex-flow: row;
    height: auto;
    margin-bottom: 36px;
}
.trait-item{
    background: #fff;
    border-radius: 20px;
    height: 100%;
    flex: 1 1 0%;
    min-height: 0;
    padding: 16px 24px 20px;
    box-shadow: 0 0 3px 3px #8828ff05;
}
.trait-item h3{
    margin: 10px auto 24px;
}
.trait-item p{
    min-height: 72px;
}
/* 第五部分 */
.no-bg {
    background: #F9F9FB;
    padding: 10px 0 70px;
}
.no-bg::after,.no-bg::before{
    content: none;
}
.no-bg .flex-box ul{
    gap: 24px;
}
.white-bg {
    background: #fff;
    padding: 24px 16px 32px;
    text-align: center;
    color: #20184E;
}
.white-bg-img{
    width: 200px;
    aspect-ratio: 100 / 93;
    margin: 0 auto;
}
.white-bg-img img{
    width: 100%;
    height: 100%;
}
.white-bg h3{
    margin: 24px auto 36px;
}
.white-bg p{
    margin-bottom: 0;
}
/* 第六部分 */
.no-have::before,.no-have::after{
    content: none;
    
}
.case-part07 .flex-box ul {
    gap: 40px;
    align-items: flex-start;
}
.dynamic {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 12px 4px rgb(136 40 255 / 6%);
    color: #20184e;
}
.dynamic-title{
    padding: 12px 24px;
    color: #fff;
    background: linear-gradient(to top right, #BAE3F5, #FEC0C8, #E18EB7, #762AD6);
    border-radius: 20px 20px 0 0;
    text-align: left;
}
.dynamic-title p{
    margin-bottom: 0;
}
.dynamic-title span{
    padding: 0 8px;
}
.dynamic-content{
    padding: 24px;
    line-height: 24px;
}
.case-part07 .flex-box ul .dynamic-content ul{
    flex-flow: column;
    gap: 16px;
    margin-bottom: 0;
}
.dynamic-content label{
    color: var(--text-light);
}
.dynamic-content p{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 12px;
}

/* 移动端适配 */
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
    /* 第一部分 */
    .contact-section::before,.contact-section::after {
        content: none;
    }
    .contact-section {
        padding: 10px 0;
    }
    .video-part {
        width: 100%;
        position: relative;
    }
    .company-contact {
        padding: 210px 0 120px;
        background-size: 200% 100%;
    }
    .section-title-text {
        margin-top: 0;
        margin-bottom: 24px;
    }
    .section-title-other {
        margin-bottom: 32px;
        margin-top: 40px;
    }
    .btn-big {
        padding: 8px 32px;
    }
    .container-box-right{
        padding-left: 64px;
    }
    /* 第二部分 */
    /* 满足统一管理集中检测控管需求 */
    /* .one-bg {
        padding: 40px 0 0;
        margin-bottom: -200px;
    } */
    .case-part01 {
        margin-top: 20px;
        margin-bottom: 85px;
    }
    .list-two .list-card{
        height: 400px;
    }
    .list-card p {
        min-height: 220px;
    }
    /*第三部分 */
    .other-bg {
        padding: 134px 0 220px;
        margin-top: -138px;
    }
    .case-part02{
        padding: 60px 0 30px;
    }
    .other-bg .case-part01-title {
        margin-top: 80px;
    }
    .template-list {
        margin-top: 72px;
    }
    .template-list ul {
        gap: 56px;
    }
    .template-text {
        line-height: 28px;
    }
    /* 第四部分 */
    /* 第一个ul */
    .case-part04 {
        margin-top: 60px;
    }
    .case-part04 ul li{
        height: 340px;
    }
    .itemImg {
        width: 120px;
        top: -20%;
    }
    .case-part04 li h3 {
        margin: 32px 0 52px;
        height: 52px;
    }
    .case-part04 li p {
        line-height: 28px;
    }
    /* 数据监控大屏可视化系统解决方案 */
    .case-part01-title {
        margin-top: 0px;
        z-index: 99;
        position: relative;
    }
    .trait-list {
        background-size: 50%;
    }
    .trait-list ul {
        gap: 40px;
    }
    .trait-item h3 {
        margin: 20px auto 16px;
    }
    /* 第五部分 */
    .case-part06  {
        margin-top: 40px;
    }
    .case-part06 .flex-box {
        margin-top: 40px;
    }
    .white-bg-img {
        width: 160px;
    }
    .white-bg h3 {
        margin: 20px auto 28px;
    }
    /* 第六部分 */
    .case-part07{
        margin-top: 40px;
    }
    .case-part07 .flex-box {
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 48px; /* 移动端导航栏高度 */
    }

    /* 联系部分适配 */
    .contact-section {
        padding: 40px 0;
    }
    /* 第一部分 */
    .video-part {
        width: 100%;
        position: relative;
    }
    .company-contact {
        margin-top: -48px;
        padding: 90px 0 60px;
        background-size: 200% 100%;
    }
    .section-title-text {
        margin-top: 0;
        margin-bottom: 24px;
    }
    .section-title-text-en {
        font-size: 56px;
        font-weight: 600;
        line-height: 56px;
    }
    .section-title-other {
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .btn-big {
        padding: 8px 32px;
        margin-right: 24px;
    }
    .container-box-right{
        padding-left: 54px;
    }
    /* 第二部分 */
    /* 满足统一管理集中检测控管需求 */
    .one-bg {
        padding: 80px 0 70px;
        margin-bottom: 90px;
        z-index: 3;
    }
    .case-part01 {
        margin-top: 20px;
    }
    .case-part01 .case-part01-title {
        margin-top: -110px;
    }
    .case-part01-title h2 {
        margin-bottom: 16px;
    }
    .list-two {
        margin-top: 40px;
    }
    .list-two ul {
        gap: 46px;
    }
    .list-two .list-card {
        padding: 16px 16px 0;
        height: 320px;
    }
    .list-card p {
        line-height: 20px;
        margin: 16px 0;
        min-height: 130px;
        padding: 0;
    }
    .callme {
        padding: 6px 0;
        bottom: -21px;
        width: 120px;
    }
    /*第三部分 */
    .other-bg {
        padding: 102px 0 190px;
        margin-top: -140px;
        z-index: 1;
    }
    .other-bg .case-part01-title {
        margin-top: 30px;
    }
    .case-part02{
        padding: 60px 0 0;
    }
    .template-list {
        margin-top: 32px;
    }
    .template-list ul {
        gap: 64px;
    }
    .template-img {
        margin: 0 auto 20px;
        width: 64px;
        height: 64px;
    }
    .template-text {
        line-height: 22px;
    }
    /* 第四部分 */
    /* 第一个ul */
    .case-part04 {
        margin-top: 40px;
    }
    .case-part04 ul {
        gap: 32px;
    }
    .case-part04 ul li{
        height: 280px;
    }
    .itemImg {
        width: 100px;
        top: -20%;
    }
    .case-part04 li h3 {
        margin: 20px 0 32px;
        height: 52px;
    }
    .case-part04 li p {
        line-height: 24px;
    }
    /* 数据监控大屏可视化系统解决方案 */
    .flex-box {
        margin-top: 0px;
    }
    .case-part05 {
        margin-bottom: 30px;
        margin-top: 80px;
    }
    .case-part05 .case-part01-title {
        margin-top: 0px;
        z-index: 99;
        position: relative;
    }
    .flex-box ul {
        gap: 34px;
    }
    .trait {
        margin: 0;
    }
    .trait-list {
        background-size: 70% 50%;
    }
    .trait-list ul {
        gap: 32px;
        margin-bottom: 32px;
    }
    .trait-item {
        border-radius: 10px;
        padding: 16px 16px 16px;
    }
    .trait-item h3 {
        margin: 20px auto 16px;
    }
    /* 第五部分 */
    .case-part06 .flex-box {
        margin-top: 40px;
    }
    .white-bg {
        padding: 24px 16px 24px;
    }
    .white-bg-img {
        width: 140px;
    }
    .white-bg h3 {
        margin: 16px auto 20px;
    }
    /* 第六部分 */
    .case-part07 .flex-box {
        margin-top: 40px;
    }
    .case-part07 .flex-box ul {
        gap: 24px;
    }
    .dynamic-title {
        padding: 12px 16px;
    }
    .dynamic-content {
        padding: 12px 16px 20px;
        line-height: 24px;
    }
    .case-part07 .flex-box ul .dynamic-content ul {
        gap: 12px;
    }
    .dynamic-content p {
        margin-left: 8px;
    }
}



@media (max-width: 767px) {
    .container {
        padding: 0 30px;
    }
    /* 第一部分 */
    .half-box{
        width: 100%;
        padding-right: 0;
    }
    .company-contact {
        margin-top: -48px;
        padding: 80px 0 20px;
        background-size: 200% 100%;
    }
    .section-title-text {
        margin-top: 0;
        margin-bottom: 24px;
    }
    .section-title-text-en{
        font-size: 42px;
        font-weight: 600;
        line-height: 42px;
    }
    .section-title-other {
        margin-bottom: 32px;
        margin-top: 0px;
    }
    .btn-big {
        padding: 8px 32px;
        margin-right: 24px;
    }
    .container-box-right{
        margin-top: 36px;
        padding-left: 0;
    }
    /* 第二部分 */
    /* 满足统一管理集中检测控管需求 */
    .one-bg {
        padding: 80px 0 20px;
        margin-bottom: 90px;
    }
    .case-part01 {
        margin-top: 20px;
    }
    .case-part01-title h2 {
        margin-bottom: 16px;
    }
    .list-two {
        margin-top: 8px;
    }
    .list-two ul {
        gap: 46px;
        flex-flow: column;
    }
    .list-card p {
        line-height: 20px;
        margin: 16px 0;
        min-height: 130px;
    }
    .callme {
        padding: 6px 0;
        bottom: -21px;
        width: 120px;
    }
    /*第三部分 */
    .other-bg {
        padding: 0px 0 190px;
        margin-top: -240px;
        background-size: auto 105%;
    }
    .other-bg .case-part01-title {
        margin-top: 230px;
    }
    .case-part02{
        padding: 60px 0 30px;
    }
    .template-list {
        margin-top: 56px;
    }
    .template-list ul {
        gap: 52px;
        flex-flow: column;
    }
    .template-img {
        margin: 0 auto 20px;
        width: 64px;
        height: 64px;
    }
    .template-text {
        line-height: 24px;
        margin-top: 0;
    }
    /* 第四部分 */
    /* 第一个ul */
    .case-part04 {
        margin-bottom: 90px;
        margin-top: -60px;
        position: relative;
        z-index: 3;
    }
    .case-part04 ul {
        gap: 96px;
        flex-flow: column;
    }
    .case-part04 ul li {
        border-radius: 10px;
        padding: 32px 24px 60px;
    }
    .itemImg {
        width: 100px;
        top: -28%;
    }
    .case-part04 li h3 {
        margin: 16px 0 24px;
    }
    .case-part04 li p {
        line-height: 20px;
    }
    /* 数据监控大屏可视化系统解决方案 */
    .case-part05 {
        margin-bottom: 30px;
        margin-top: 80px;
    }
    .case-part01-title {
        margin-top: 0px;
        z-index: 99;
        position: relative;
    }
    .flex-box {
        margin-top: 30px;
    }
    .flex-box ul {
        gap: 0px;
        flex-flow: column;
    }
    .imgsize {
        width: 80%;
        margin: 0 auto;
    }
    .trait {
        margin: 38px 0 0;
    }
    .trait-list{
        display: flex;
        flex-flow: row;
        gap: 20px;
        background-size: 50%;
    }
    .trait-list ul {
        gap: 20px;
        flex-flow: column;
        width: 100%;
        margin-bottom: 0;
    }
    .trait-item {
        border-radius: 10px;
        padding: 16px 16px 16px;
    }
    .trait-item h3 {
        margin: 20px auto 16px;
    }
    /* 第五部分 */
    .case-part06 {
        margin-top: 0px;
    }
    .white-bg {
        padding: 24px 16px 24px;
    }
    .white-bg-img {
        width: 140px;
    }
    .white-bg h3 {
        margin: 16px auto 20px;
    }
    /* 第六部分 */
    .case-part07 .flex-box ul {
        gap: 28px;;
    }
    .dynamic-title {
        padding: 12px 20px;
    }
    .dynamic-content {
        padding: 12px 20px;
    }
    .case-part07 .flex-box ul .dynamic-content ul {
        gap: 8px;
    }
}
